/build
/devel
/rope_ws/build
/rope_ws/devel
**/src/CMakeLists.txt
/src/CMakeLists.txt
/actionlib
/bond_core
/catkin
/class_loader
/cmake_modules
/common_msgs
/dynamic_reconfigure
/gencpp
/geneus
/genlisp
/genmsg
/gennodejs
/genpy
/message_generation
/message_runtime
/metapackages
/nodelet_core
/pluginlib
/ros
/ros_comm
/ros_comm_msgs
/ros_environment
/rosbag_migration_rule
/rosconsole_bridge
/roscpp_core
/roslisp
/rospack
/std_msgs
/process_rope/.vscode/browse.vc.db