<launch>

    <!-- <include file="$(find baxter_control_mine)/launch/control_baxter.launch" /> -->

    <node name="smach_viewer" pkg="smach_viewer" type="smach_viewer.py"/>

    <node name="image_processing_server" pkg="baxter_control_mine" type="image_processing_server" output="screen"/>

    <node name="baxter_fsm" pkg="baxter_control_mine" type="baxter_fsm.py" output="screen"/>

</launch>